
.pad {
    padding: 1em;
}

header {
    background-color: rgb(168, 168, 168);
    display: flex;
    justify-content: flex-end;
}

header img {
    display: flex;
    color: white;
    box-sizing: border-box;
    padding: .3em;
    transition: display .5s;
}

.mobile_nav {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.show_desktop {
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.show_desktop a {
    flex: 1 0 auto;
    text-align: center;
}

.product_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    display: flex;
    width: 250px;
    background-color: gainsboro;
    /* border: 1px solid red; */
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.217);
}

.product a {
    text-decoration: none;
    padding: 1em;
    background-color: blueviolet;
    color: white;
    transition: color .5s;
    transition: transform 1s;
}

.product a:hover {
    background-color: rgb(216, 214, 214);
    color: blueviolet;
    transition: color .5s;
    transform: rotate(.05turn);
    transition: transform 1s;
}

.product_detail {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

.product_name h4 {
    margin-top: 0;
}

.price {
    font-weight: 600;
    border: 1px solid red;
    background-color: brown;
    border-radius: 2em;
    padding: 0 1em;
    box-sizing: border-box;
    color: white;
}

.price p {
    margin: 0;
}

.price_value {
    margin-left: .1em;
    font-size: 3em;
}
