.col_section {
    min-height: 1200px;
    background: url(/images/timothy.jpg) scroll no-repeat center;
    background-size: cover;
}

.col {
    width: 400px;
    min-height: 700px;
    margin-left: 120px;
    padding: 2em;
    background: linear-gradient(to bottom, rgb(236, 236, 236),rgb(209, 207, 72));
}

.col h1, .col h3 {
    color: rgb(5, 58, 107);
    line-height: 1;
}

.footer {
    background: rgb(214, 214, 214);
}

.website, .contact_num {
    max-width: 960px;
    margin: 0 auto;
}

.website ul, .website ul ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    gap: 1em;
    padding: 1em;
    justify-content: space-between;
}

.website li, .website li a {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.website img {
    width: 30px;
}

.website span {
    align-self: center;
}

.contact_num {
    padding: 0 2em;
    color: rgb(5, 58, 107);
    font-weight: 600;
}
