body {
    background-image: url("../images/thecapitol.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

a {
    color: gold;
}